/*basic css coloring*/
h1 {
    color: darkblue;
}

/*class*/
.container {
    color: teal;
    width: 601px;
    font-style: oblique;
    background-color: #eee;
    margin: auto;
    padding: 20px;
    border: 5px solid lightsteelblue;
    border-radius: 10px;
}

body {
    background-color: #eeeefe;
}

p {
    color: #333333;
}

img {
     width: 100%;
}

.content {
     width: 500px;
}

.sidebar {
    width: 100px;
    float: right;
}

.clear {
    clear: both;
}

.header {
    height: 2%;
}

.topnav {
    background-color: #333;
    overflow:hidden
    
}

.topnav a {
    float: left;
    color: #dbdbfc;
    pad: 15px;  
    text-align: center;
    text-decoration: none;
    font-weight: 200;
    font-size: 17px;
    padding: 14px 16px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}