/*basic css coloring*/
h1 {
    color: darkblue;
}

/*class*/
.container {
    color: teal;
    width: 601px;
    font-style: oblique;
    background-color: #eee;
    margin: auto;
    padding: 20px;
    border: 5px solid lightsteelblue;
    border-radius: 10px;
}

body {
    background-color: #eeeefe;
}

p {
    color: #333333;
}

img {
    width: 100%;
}