/*basic css coloring*/
h1 {
    color: darkblue;
}

/*class*/
.container {
    color: teal;
    width: 800px;
    font-style: oblique;
    background-color: #eee;
    margin: auto;
    padding: 20px;
    border: 5px solid lightsteelblue;
    border-radius: 10px;
}

body {
    background-color: #eeeefe;
}

p {
    color: #333333;
}

img {
     width: 100%;
}

.content {
     width: 600px;
     float: left;
}

.sidebar {
    width: 200px;
    float: right;
}

.clear {
    clear: both;
}

.header {
    height: 2%;
}
/*a háttér*/
.topnav {
    background-color: #333;
    overflow:hidden
    
}
/*a linkek*/
.topnav a {
    float: left;
    color: #dbdbfc;
    pad: 15px;  
    text-align: center;
    text-decoration: none;
    font-weight: 200;
    font-size: 17px;
    padding: 14px 16px;
}
/*változó színek*/
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/*egy szín arra a linkre amin vagy*/
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 200px;
}
    
li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

/*ha rajta van az egér változzon a szín*/
li a:hover {
    background-color: #555555;
    color: white;
}

.active {
    background-color: #04AA6D;
    color: white;
}

ul {
    border: 1px solid #555555;
}

li {
    text-align: center;
    border-bottom: 1px solid #555555;
}

li:last-child {
    border-bottom: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 130px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
    
}