/*basic css coloring*/
h1 {
    color: darkblue;
}

/*class*/
.container {
    color: teal;
    width: 601px;
    font-style: oblique;
    background-color: azure;
    margin: auto;
    padding: 20px;
    }

    body {
        background-color: azure;
    }
    